.hero {
    position: relative;
    top: $header-height;

    &__text-wrapper {
        height: calc(100vh - $header-height);
        height: calc(100svh - $header-height);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 $spacing;
        position: sticky;
        top: $header-height;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: $color-secondary;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    &__text {
        max-width: 40 * $spacing;
    }

    &__scroll-nudge {
        // Make texte appear at the bottom of the screen with a padding
        // while making sure hero text stays centered on page
        position: absolute;
        top: calc(100vh - $header-height - 3 * $spacing);
        top: calc(100svh - $header-height - 3 * $spacing);
        transform: translateY(-100%);
    }

    &__image {
        position: relative;
        max-width: 40 * $spacing;
    }
}

@media (min-width: $screen-md) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 3 * $spacing;
        top: 0;
        height: 100vh;
        height: 100svh;

        &__text-wrapper {
            width: 70%;
            max-width: 60 * $spacing;
            text-align: left;
            position: relative;
            padding: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        &__text {
            max-width: none;
        }

        &__scroll-nudge {
            position: static;
            margin-top: $spacing;
            transform: none;
        }

        &__image {
            flex-shrink: 1;
            width: 30%;
            max-width: none;
            max-height: 70 * $spacing;
            object-fit: contain;
            padding-top: $header-height;
        }
    }
}
