.header {
    width: 100%;
    height: $header-height;
    padding: 0 (3 * $spacing);
    position: fixed;

    &__links-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    &__link {
        display: block;
        line-height: 1;
        color: currentColor;
        text-decoration: none;

        &:hover {
            font-weight: 600;
        }
    }
}

@media (min-width: $screen-md) {
    .header {
        background: $color-secondary;
        z-index: 1;
        &__link {
            margin-right: 4 * $spacing;
            &:first-of-type {
                margin-right: auto;
            }
        }
    }
}
