.testimonials {
    margin-top: calc($header-height + 12 * $spacing);
    margin-bottom: 4 * $spacing;
    margin-bottom: 200vh; //temporary, to be able to scroll past testimonials
    //Use padding to make sure the native scrollbar isn't stuck to the testimonials
    padding-bottom: 4 * $spacing;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    background: $color-secondary;
    position: relative;
    z-index: 0;
}

.testimonial {
    width: 66%;
    max-width: 35 * $spacing;
    margin-left: 4 * $spacing;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__image {
        width: 8 * $spacing;
        height: 8 * $spacing;
        border-radius: 50%;
        margin-bottom: 3 * $spacing;
    }

    &__reviewer {
        margin-bottom: $spacing;
    }
}
